.reader {
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 100vw;
  justify-items: center;
}

.reader__token {
  font-size: 5rem;
}

.reader__token__hl {
  color: #CD785C;
}

.controls {
  padding: 1rem;
  border: 1px solid black;
}

.controls__btns {
  display: flex;
  justify-content: center;
}

.controls__btns > button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.controls__btns > div:hover {
  background-color: #f0f0f0;
}
