.reader {
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 100vw;
  height: 100svh;
  place-items: center;
}

.reader__token {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto 2fr;
  position: relative;
  font-size: 5rem;
  font-family: monospace;
}

.reader__char--before {
  text-align: right;
}

.reader__char--after {
  text-align: left;
}

.reader__token--hl {
  color: #cd785c;
}

.controls {
  padding: 1rem;
  border: 1px solid black;
}

.controls__btns {
  display: flex;
  justify-content: center;
}

.controls__btns > button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.controls__btns > div:hover {
  background-color: #f0f0f0;
}
