.reader {
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 100vw;
  height: 100svh;
  place-items: center;
  max-height: 100svh;
  overflow-y: hidden;
}

.reader__token {
  font-family: "Tiempos Text", sans-serif;
  display: grid;
  width: 100%;
  height: 100dvh;
  align-items: center;
  grid-template-columns: 1fr auto 2fr;
  position: relative;
  font-size: 5rem;
  font-family: monospace;
}

.reader__char--before {
  text-align: right;
}

.reader__char--after {
  text-align: left;
}

.reader__token--hl {
  color: var(--color-primary);
}

.controls {
  padding: 1rem;
  /* border: 1px solid black; */
}

.controls__btns {
  display: flex;
  justify-content: center;
}

.controls__btns button,
.top-controls button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}

.controls__btns button:hover,
.top-controls button:hover {
  background-color: var(--color-surface-med);
  border: none;
}

.controls__btns button:hover,
.top-controls button:hover {
  background-color: var(--color-surface-med);
  border: none;
}