@import "tailwindcss";

/* Font Face Declarations */
@font-face {
  font-family: "Styrene";
  src: url("./assets/fonts/StyreneBLC-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("./assets/fonts/TiemposText-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("./assets/fonts/TiemposText-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("./assets/fonts/TiemposText-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("./assets/fonts/TiemposText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Primary colors */
  --color-primary: #CD785C;
  --color-on-primary: #EEE9E7;

  /* Secondary colors */
  --color-secondary: #402B24;
  --color-on-secondary: #FFD9CC;

  /* Surface colors */
  --color-surface-lowest: #181211;
  --color-surface-low: #271E1B;
  --color-surface-med: #3C2E2A;
  --color-surface-hi: #5A473F;
  --color-surface-inverse: #EEE9E7;

  /* Text colors */
  --color-on: #EEE9E7;
  --color-on-subtle: #C5B4AD;
  --color-on-disabled: #9B867E;
  --color-on-inverse: #1E1715;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--color-surface-lowest); 
  color: var(--color-on);
  font-family: "Styrene", sans-serif;
}

.font-serif {
  font-family: "Tiempos Text", serif;
}

